# New York Living Local
----

#### Note
* We will be using Google Maps to locate points of interest with New York City
    * DataFrame will be created
    * Data Clean up to be performed
    * Data will be stored in tables of Postgress DB

In [3]:
# Dependencies and Setup

import pandas as pd
import requests
import time
import os
from datetime import date
import json
from pprint import pprint
from sqlalchemy import create_engine

# Import API key
from Config import api_key

curdate = date.today().strftime("%m/%d/%Y")

# Dependencies and Setup
import numpy as np
#from config import gkey
import gmaps

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [4]:
#API Calls
# Save config information and parameters
#url = "https://maps.googleapis.com/maps/api/place/textsearch/json?query=new+york+city+point+of+interest&language=en&key=AIzaSyCZhPzDNVZW7U_8SbGMI2IrXpcK9gIio58"
city_var = "new+york"

params = {
    "query": f"{city_var}+point+of+interest",
    "key": api_key,
    "language": "en"
}

url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

response = requests.get(url, params).json()

### Convert Raw Data to DataFrame

In [5]:
#Review API data
# type(response)
pprint(response)

{'html_attributions': [],
 'next_page_token': 'CpQCBgEAALIYRxF3hJDbPtwwIWEzadkDnEeOOqHr1bw89bYmD2Nz0t_9m7FAW7qNTSRAKPai4LTS9j-gJDAKoPupfoJFQLfIW7Gkf-mT3BtqSXO8fU97gG5QJhqUXjW2Jdp1wtSEzj1sqLCXbbIqD7pl9EN2s1k9TEFE1BjDrN3dgmAFCBHbcEWzGkxNE7HwfMGotlaIoksrsJj8iLOvqpoT_r3FY3ZEq1FFW5DKPXZlKTrE7nmmAtFZQ_pLpCME3THMq6AG1RQK_ZHBZlyNhSWBgji1r3-xCXW9XB-29pgsdjfMI3ffWzdObh1QrsXpoU4JXpfQLeTjOctuVnC4y6-gb2C3s6RYz4BJEneEz_VBqYsHSttVEhDq79-uTGZf3_Yo4Q-aJ6LLGhSKXhkFNwJROcLMQ1YHlejHsNkmxA',
 'results': [{'formatted_address': '10 South St, New York, NY 10004, United '
                                   'States',
              'geometry': {'location': {'lat': 40.6919879,
                                        'lng': -74.01599499999999},
                           'viewport': {'northeast': {'lat': 40.69333772989273,
                                                      'lng': -74.01464517010727},
                                        'southwest': {'lat': 40.69063807010728,
                                                      'lng': -74.0173448298927}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/museum-71.png',
              'id': 'e2568410beb651c76959c8c706e1d771fc316fa9',
              'name': 'Governors Island National Monument',
              'opening_hours': {'open_now': False},
              'photos': [{'height': 4897,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/106490258821111884682">Mark '
                                                'Furmanik</a>'],
                          'photo_reference': 'CmRaAAAA34sPfQzPQPBu8GPHPzPjje7lY2LYa6FgD1mM92D0g70S-2ldVA9u3liFp7VqvNPKpo13dVcYSTjKafQb-gcJ8zmoLxIT6ocqkZrog6TBpbiVvnwcPWOwx8U-KRugB19qEhB-sBxAUmt-qD0dxoheIutLGhQxd8on38QWhHn3-GmEmGCyQGgeRQ',
                          'width': 3266}],
              'place_id': 'ChIJ2_ey6W9awokRxng4fzLDbPo',
              'plus_code': {'compound_code': 'MXRM+QJ New York',
                            'global_code': '87G7MXRM+QJ'},
              'rating': 4.6,
              'reference': 'ChIJ2_ey6W9awokRxng4fzLDbPo',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 2675},
             {'formatted_address': 'W 122nd St & Riverside Dr, New York, NY '
                                   '10027, United States',
              'geometry': {'location': {'lat': 40.8134045, 'lng': -73.9630671},
                           'viewport': {'northeast': {'lat': 40.81479342989272,
                                                      'lng': -73.96171487010727},
                                        'southwest': {'lat': 40.81209377010728,
                                                      'lng': -73.96441452989272}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png',
              'id': '733dc3338625663c853d87af545babc054c43006',
              'name': 'General Grant National Memorial',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 4000,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/109490048016942159532">Roel '
                                                'Schreurs</a>'],
                          'photo_reference': 'CmRaAAAA27iOmAvYlcIyLXO5AUNudDPRV9fZJw0yug2Tiv5Yj1yp7t_uZDxV3crKKJyIxc0_ehGr6qc-vbvOLhw-nfVMAQ3wjHEtbvaeORxZJ46zHMTeOcaQZBZFxsz8ZeLcmC2gEhCkaTXBNQrrQfeQsLa5-E1sGhSsQ9KoqUIX0EPNJGEm5d8FsOnHsg',
                          'width': 6016}],
              'place_id': 'ChIJoxqn-kD2wokRLvhOLfAneU8',
              'plus_code': {'compound_code': 'R27P+9Q New York',
                            'global_code': '87G8R27P+9Q'},
              'rating': 4.5,
              'reference': 'ChIJoxqn-kD2wokRLvhOLfAneU8',
              'types': ['tourist_attraction',
                        'park',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 697},
             {'formatted_address': '414 W 141st St, New York, NY 10031, United '
                                   'States',
              'geometry': {'location': {'lat': 40.8213537, 'lng': -73.9473103},
                           'viewport': {'northeast': {'lat': 40.82289047989271,
                                                      'lng': -73.94589007010728},
                                        'southwest': {'lat': 40.82019082010727,
                                                      'lng': -73.94858972989272}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': '7fdf8be4d494f647a65700f36b00fa077e4f68d3',
              'name': 'Alexander Hamilton Grange National Memorial',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 3024,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/113244420116672845924">Tim '
                                                'Sneath</a>'],
                          'photo_reference': 'CmRaAAAALx5OGj45-setwf6IsydZ0U7J5cKnbfwGfl1QchP9Rm3TdEYs9YWpb8bp38NVQdElmPOx3cZqjY42jGnxS2dg3my3lecDTKC6hYbmVh2qo1gCfGHCWAJIgjNdtsKMFMZZEhCMxsm3kpacB5UnlfU6OI1rGhTT4N_N4otxkwmqEc3lCwfb86exew',
                          'width': 4032}],
              'place_id': 'ChIJ5wFJxXr2wokRQEmdWil_bEw',
              'plus_code': {'compound_code': 'R3C3+G3 New York',
                            'global_code': '87G8R3C3+G3'},
              'rating': 4.5,
              'reference': 'ChIJ5wFJxXr2wokRQEmdWil_bEw',
              'types': ['tourist_attraction',
                        'museum',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 529},
             {'formatted_address': 'New York, NY 10004, United States',
              'geometry': {'location': {'lat': 40.6892494,
                                        'lng': -74.04450039999999},
                           'viewport': {'northeast': {'lat': 40.71814749999999,
                                                      'lng': -73.99872490000001},
                                        'southwest': {'lat': 40.6796167,
                                                      'lng': -74.05975889999998}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': '5a0d7e67078e35af0c456a277df9ffba7c1e4da6',
              'name': 'Statue of Liberty National Monument',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 4032,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/104615317245344911843">Brett '
                                                'Pyle</a>'],
                          'photo_reference': 'CmRaAAAAR67O_3lb8_WKNOL_T-HidTY0m5xOo6-yGVcxKsq2cqiaR_C3Ku8iUolAXg-Ep3KCm100EwmVLAtrb12HA6xswnr5ug95nvmH77Iw5MZOyNFYU1XNHzqaK0WZfGwpwyi4EhC_5CQdNf2Yj7lAI0xLOqp8GhS6qOEI_tTcMl6Po5slLA7jHPrUXw',
                          'width': 3024}],
              'place_id': 'ChIJPTacEpBQwokRKwIlDXelxkA',
              'plus_code': {'compound_code': 'MXQ4+M5 New York',
                            'global_code': '87G7MXQ4+M5'},
              'rating': 4.7,
              'reference': 'ChIJPTacEpBQwokRKwIlDXelxkA',
              'types': ['tourist_attraction',
                        'park',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 66974},
             {'formatted_address': '89 E 42nd St, New York, NY 10017, United '
                                   'States',
              'geometry': {'location': {'lat': 40.7525935, 'lng': -73.9767279},
                           'viewport': {'northeast': {'lat': 40.75371032989272,
                                                      'lng': -73.97479917010729},
                                        'southwest': {'lat': 40.75101067010728,
                                                      'lng': -73.97749882989272}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
              'id': '096265fefe8d7d8c6f99699e4409d5aa84b17116',
              'name': 'Grand Central Market',
              'opening_hours': {'open_now': False},
              'photos': [{'height': 3006,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/115125443427453367948">Richard '
                                                'Fife</a>'],
                          'photo_reference': 'CmRaAAAA5p-Shg86z5RJppxqd8uXbYVkquOBJRkVZgfcVxiUodgcK6FeGFw-hb6YRT-Rw3VM_OhwSOqJUZW-37rFqWafcUQINGA4BL8A3SPcOcU5dwlMFvoRsC0cTH1njN4Wj9-FEhCuf093xLxSA84BV93FO0B6GhQfoP5efy2CfOeRmj1fm5q-DuCmDA',
                          'width': 5344}],
              'place_id': 'ChIJj9zIOgJZwokRuuxV79u6_nU',
              'plus_code': {'compound_code': 'Q23F+28 New York',
                            'global_code': '87G8Q23F+28'},
              'rating': 4.5,
              'reference': 'ChIJj9zIOgJZwokRuuxV79u6_nU',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 1060},
             {'formatted_address': 'Water St &, State St, New York, NY 10004, '
                                   'United States',
              'geometry': {'location': {'lat': 40.70218089999999,
                                        'lng': -74.01499749999999},
                           'viewport': {'northeast': {'lat': 40.70350567989272,
                                                      'lng': -74.01319335},
                                        'southwest': {'lat': 40.70080602010728,
                                                      'lng': -74.01593035}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': '2fad60c4a269d0c16dd2836b031c4c5161628550',
              'name': 'SeaGlass Carousel',
              'opening_hours': {'open_now': False},
              'photos': [{'height': 4000,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/103629638615749277925">Hugo '
                                                'Cruz</a>'],
                          'photo_reference': 'CmRaAAAAHES82axxc_shhBvP1X373vFuwB3N_QvzOnNfZEDXPGptMuvviU6xUSi_SRmElMZJ_tmFlR8jHgjntqA8mjJ4oZQ71uVMnLJ1CuiAEAinHk7Nf7iFuMJSC9uJdwNMo5alEhDN8FzZHIhayKkrNdaAZwaoGhRU4azvJWggSt1rkBf-2_ZC_-5eOA',
                          'width': 6000}],
              'place_id': 'ChIJryEQYRJawokR_bfRRa_lPqs',
              'plus_code': {'compound_code': 'PX2P+V2 New York',
                            'global_code': '87G7PX2P+V2'},
              'rating': 4.5,
              'reference': 'ChIJryEQYRJawokR_bfRRa_lPqs',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 497},
             {'formatted_address': 'New York, NY, United States',
              'geometry': {'location': {'lat': 40.7828647, 'lng': -73.9653551},
                           'viewport': {'northeast': {'lat': 40.81804399999999,
                                                      'lng': -73.9339825},
                                        'southwest': {'lat': 40.7473416,
                                                      'lng': -73.9970305}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png',
              'id': 'c9bcef33f0cc85eda31f1c7444e9b1a3b82c9a9f',
              'name': 'Central Park',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 2448,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/104674184720700703454">Gustavo '
                                                'Brenes</a>'],
                          'photo_reference': 'CmRaAAAAF6wsarinXXUs8WGKRlLcC-zCPO4-T8Ix2zz2C3B-q48l95nw1t1lWtJJDMEWIpQAtzuo-zuyd98OjdqPEk6Bm6rFnvwHOuife8JN2-4AbUrhP4aGyrEgYUDkYTYuEkceEhD8D6DJxDfiCEPk4jIHhgS4GhQzrGrdErgNvSGehCq2SMtSm7ITjQ',
                          'width': 3264}],
              'place_id': 'ChIJ4zGFAZpYwokRGUGph3Mf37k',
              'plus_code': {'compound_code': 'Q2MM+4V New York',
                            'global_code': '87G8Q2MM+4V'},
              'rating': 4.8,
              'reference': 'ChIJ4zGFAZpYwokRGUGph3Mf37k',
              'types': ['park',
                        'tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 194736},
             {'formatted_address': '20 W 34th St, New York, NY 10001, United '
                                   'States',
              'geometry': {'location': {'lat': 40.7484405,
                                        'lng': -73.98566439999999},
                           'viewport': {'northeast': {'lat': 40.74971142989272,
                                                      'lng': -73.98392452010728},
                                        'southwest': {'lat': 40.74701177010728,
                                                      'lng': -73.98662417989271}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': 'bc232d2422e7068b2a2ffb314f02e3733dd47796',
              'name': 'Empire State Building',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 720,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/117951087160583633334">Empire '
                                                'State Building</a>'],
                          'photo_reference': 'CmRaAAAAckfO2WsOstWC4_N7lsppdKOQ1ZoZA_2EGVHsJZwYz80b-FtUvVxfOSleoyQIf1sghld2vvX7QA4naBVtAGzSLcA0fxCeoYkmBPAyJuOYXrovW3rodxBC8q8U2T4azksbEhAg9tUPsmdA6Wz_KINrCJ2PGhTTSb1BVv7ncEAsnTciVbxqi_WCXw',
                          'width': 1280}],
              'place_id': 'ChIJaXQRs6lZwokRY6EFpJnhNNE',
              'plus_code': {'compound_code': 'P2X7+9P New York',
                            'global_code': '87G8P2X7+9P'},
              'rating': 4.7,
              'reference': 'ChIJaXQRs6lZwokRY6EFpJnhNNE',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 70859},
             {'formatted_address': 'Brooklyn Bridge, New York, NY 10038, '
                                   'United States',
              'geometry': {'location': {'lat': 40.7060855, 'lng': -73.9968643},
                           'viewport': {'northeast': {'lat': 40.7192285,
                                                      'lng': -73.9812363},
                                        'southwest': {'lat': 40.6886497,
                                                      'lng': -74.0112811}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': 'c1ac50eff9bb8e9505c59c69c4523ae94c4126fc',
              'name': 'Brooklyn Bridge',
              'photos': [{'height': 2618,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/108804069346240761751">Marijn '
                                                'van der Woude</a>'],
                          'photo_reference': 'CmRaAAAAlYEMCEl3RdL2DnXlyMpEF9gwxE6BQuqiyEO7HwlRuFZGvyO5n7kX4469_aDuj0_fIJtzQA2JynA-Hsn2q9kt5X1rkeDG9NnfLUerms_Crez3f6WxlHuqXgSzzaIIxkXNEhC2ags3JauxQKpuWm_juYvHGhRcoDLKQO6xliUiHZnfdvn1f0GcDQ',
                          'width': 4656}],
              'place_id': 'ChIJK3vOQyNawokRXEa9errdJiU',
              'plus_code': {'compound_code': 'P243+C7 New York',
                            'global_code': '87G8P243+C7'},
              'rating': 4.8,
              'reference': 'ChIJK3vOQyNawokRXEa9errdJiU',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 44007},
             {'formatted_address': 'New York, NY 10011, United States',
              'geometry': {'location': {'lat': 40.7479925, 'lng': -74.0047649},
                           'viewport': {'northeast': {'lat': 40.75890824999998,
                                                      'lng': -73.99853175},
                                        'southwest': {'lat': 40.73287364999999,
                                                      'lng': -74.01141114999999}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png',
              'id': '72dc79d023feec77725d7336e7c46fee27805319',
              'name': 'The High Line',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 3267,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/105487997458497097901">Александр '
                                                'Иванов</a>'],
                          'photo_reference': 'CmRaAAAAIVLUpG2jDbG-dh8S7xxragNkG7m55wzun1nVYkvgIKBurckStgsKmjKkx4sCNkFZbypP-sZGh8y7RftH1IDUCj8KX29iQrOL9Gx2S1oqUsWwzVH3RS7nFEff4RJyXtEpEhB8T9oxaLG3rW4ufITWq-2SGhQ3uazg63D1vKTRbCsFhJBBFrxQEQ',
                          'width': 4895}],
              'place_id': 'ChIJ5bQPhMdZwokRkTwKhVxhP1g',
              'plus_code': {'compound_code': 'PXXW+53 New York',
                            'global_code': '87G7PXXW+53'},
              'rating': 4.7,
              'reference': 'ChIJ5bQPhMdZwokRkTwKhVxhP1g',
              'types': ['park',
                        'tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 38859},
             {'formatted_address': '5th Ave, New York, NY 10022, United States',
              'geometry': {'location': {'lat': 40.7584653,
                                        'lng': -73.97599269999999},
                           'viewport': {'northeast': {'lat': 40.75987907989272,
                                                      'lng': -73.97453474999999},
                                        'southwest': {'lat': 40.75717942010727,
                                                      'lng': -73.97777375}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/worship_general-71.png',
              'id': 'acf24f96362bdabb64807f6c17cba8bb1d5b738a',
              'name': "St. Patrick's Cathedral",
              'opening_hours': {'open_now': True},
              'photos': [{'height': 4032,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/103645577548184875978">Sahar '
                                                'Sadjedi</a>'],
                          'photo_reference': 'CmRaAAAAeResbMJ4T-ixOfdP_bSJJDPMBZPWhUq4-m4ychSabWAwpu8Wk_0bXszQtnYW2fXzsOa6aQdWE9qsJr_lPFje_KPFbJLErnvQngAkLpn9cjDuC9YHxg1gxw88pYi0rltqEhAaFIf8Qk6MBs4v6ZZckA9jGhQvj4ze3l5lml8i6REviKmxhXTqUw',
                          'width': 3024}],

In [6]:
#create list from response

response_list = [resp for resp in response["results"]]
print(len(response_list))

20

In [7]:
#view on response

response_list[0]

{'formatted_address': '10 South St, New York, NY 10004, United States',
 'geometry': {'location': {'lat': 40.6919879, 'lng': -74.01599499999999},
  'viewport': {'northeast': {'lat': 40.69333772989273,
    'lng': -74.01464517010727},
   'southwest': {'lat': 40.69063807010728, 'lng': -74.0173448298927}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/museum-71.png',
 'id': 'e2568410beb651c76959c8c706e1d771fc316fa9',
 'name': 'Governors Island National Monument',
 'opening_hours': {'open_now': False},
 'photos': [{'height': 4897,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106490258821111884682">Mark Furmanik</a>'],
   'photo_reference': 'CmRaAAAA34sPfQzPQPBu8GPHPzPjje7lY2LYa6FgD1mM92D0g70S-2ldVA9u3liFp7VqvNPKpo13dVcYSTjKafQb-gcJ8zmoLxIT6ocqkZrog6TBpbiVvnwcPWOwx8U-KRugB19qEhB-sBxAUmt-qD0dxoheIutLGhQxd8on38QWhHn3-GmEmGCyQGgeRQ',
   'width': 3266}],
 'place_id': 'ChIJ2_ey6W9awokRxng4fzLDbPo',
 'plus_code': {'compound_code': 'MXRM+QJ New York',
  'global_code': '87G7MXRM+QJ'},
 'rating': 4.6,
 'reference': 'ChIJ2_ey6W9awokRxng4fzLDbPo',
 'types': ['tourist_attraction', 'point_of_interest', 'establishment'],
 'user_ratings_total': 2675}

In [8]:
#Database about city sites
city_table_df = pd.DataFrame({
                    'city_id':['NY'],
                    'city':['New York']})

city_id = city_table_df.loc[city_table_df["city"] == 'New York', "city_id"]
print(city_id[0])

NY

In [9]:
# set up lists to hold reponse infodata = []
cityid = []
site_name = []
rating = []
rating_totals = []
address = []
latitude = []
longitude = []
count = 1

# Loop through the list of cities and perform a request for data on each
for response in response_list:
    try:
        cityid.append(city_id[0])
        site_name.append(response["name"])
        rating.append(response["rating"])
        rating_totals.append(response["user_ratings_total"])
        address.append(response["formatted_address"])
        latitude.append(response["geometry"]["location"]["lat"])
        longitude.append(response["geometry"]["location"]["lng"])
        count = count + 1
    except KeyError:
        print(f'City Site not found. Skipping... {site_name}')

print('------------------------------')
print(f'Data Retrieval Complete, Count {count}')
print('------------------------------')

------------------------------
Data Retrieval Complete, Count 21
------------------------------

In [10]:
city_data = pd.DataFrame({"city_id": cityid,
                            "site_name": site_name,
                            "rating": rating,
                            "rating_totals": rating_totals,
                            "address": address,
                            "latitude": latitude,
                            "longitude": longitude})
#Save DF as csv

city_data.count()

city_id          20
site_name        20
rating           20
rating_totals    20
address          20
latitude         20
longitude        20
dtype: int64

In [11]:
city_data.head()

,city_id,site_name,rating,rating_totals,address,latitude,longitude
0,NY,Governors Island National Monument,4.6,2675,"10 South St, New York, NY 10004, United States",40.691988,-74.015995
1,NY,General Grant National Memorial,4.5,697,"W 122nd St & Riverside Dr, New York, NY 10027,...",40.813404,-73.963067
2,NY,Alexander Hamilton Grange National Memorial,4.5,529,"414 W 141st St, New York, NY 10031, United States",40.821354,-73.947310
3,NY,Statue of Liberty National Monument,4.7,66974,"New York, NY 10004, United States",40.689249,-74.044500
4,NY,Grand Central Market,4.5,1060,"89 E 42nd St, New York, NY 10017, United States",40.752594,-73.976728

In [12]:
#Clean Data 
city_data["address"] = city_data["address"].str.replace(", United States", "", case = False)

## Database Section 
     *Create a PostgreSQL database:  airbnb_db
     *Create tables using schema.sql file within PostgreSQL
     *Based on city_data dataframe, and city_table dataframe.

In [14]:
#Connect to local database
pg_user = 'postgres'
pg_password = 'Postgres2019'
db_name = 'Airbnb_DB'

connection_string = f"{pg_user}:{pg_password}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [15]:
#Check for tables
engine.table_names()

[]

In [16]:
#Use pandas to load data frome into database
city_table_df.to_sql(name='city_table', con=engine, if_exists='append', index=False)

In [17]:
#Use pandas to load data frome into database
city_data.to_sql(name='city_sites', con=engine, if_exists='append', index=False)

In [18]:
#Confirm data has been added by querying the table
pd.read_sql_query('select * from city_sites', con=engine).head(25)

,city_id,site_name,rating,rating_totals,address,latitude,longitude
0,NY,Governors Island National Monument,4.6,2675,"10 South St, New York, NY 10004",40.691988,-74.015995
1,NY,General Grant National Memorial,4.5,697,"W 122nd St & Riverside Dr, New York, NY 10027",40.813404,-73.963067
2,NY,Alexander Hamilton Grange National Memorial,4.5,529,"414 W 141st St, New York, NY 10031",40.821354,-73.947310
3,NY,Statue of Liberty National Monument,4.7,66974,"New York, NY 10004",40.689249,-74.044500
4,NY,Grand Central Market,4.5,1060,"89 E 42nd St, New York, NY 10017",40.752594,-73.976728
5,NY,SeaGlass Carousel,4.5,497,"Water St &, State St, New York, NY 10004",40.702181,-74.014998
6,NY,Central Park,4.8,194736,"New York, NY",40.782865,-73.965355
7,NY,Empire State Building,4.7,70859,"20 W 34th St, New York, NY 10001",40.748441,-73.985664
8,NY,Brooklyn Bridge,4.8,44007,"Brooklyn Bridge, New York, NY 10038",40.706086,-73.996864
9,NY,The High Line,4.7,38859,"New York, NY 10011",40.747993,-74.004765
10,NY,St. Patrick's Cathedral,4.8,24237,"5th Ave, New York, NY 10022",40.758465,-73.975993
11,NY,Rockefeller Center,4.6,115948,"45 Rockefeller Plaza, New York, NY 10111",40.758740,-73.978674
12,NY,Top of the Rock,4.7,34986,"30 Rockefeller Plaza, New York, NY 10112",40.759121,-73.979527
13,NY,The Metropolitan Museum of Art,4.8,55401,"1000 5th Ave, New York, NY 10028",40.779437,-73.963244
14,NY,"Intrepid Sea, Air & Space Museum",4.6,26035,"Pier 86, W 46th St, New York, NY 10036",40.764527,-73.999608
15,NY,One World Observatory,4.7,13674,"285 Fulton St, New York, NY 10006",40.713344,-74.013368
16,NY,Radio City Music Hall,4.7,16424,"1260 6th Ave, New York, NY 10020",40.759976,-73.979977
17,NY,The Met Cloisters,4.7,4277,"99 Margaret Corbin Dr, New York, NY 10040",40.864863,-73.931727
18,NY,Bryant Park,4.7,53740,"New York, NY 10018",40.753597,-73.983233
19,NY,Washington Square Park,4.7,17681,"New York, NY 10012",40.730823,-73.997332

In [19]:
pd.read_sql_query('select * from city_table', con=engine).head(25)

  city_id      city
0      NY  New York

## AirBnb, New York Local Experience with emphasis on Point of Interest. Kaggle dataset for Airbnb listings and metrics in NYC, NY, USA (2019)

### Import dependencies & configure gmaps with your API key

In [20]:
# Pull latest data available as of 2019
airbnb_data_df = pd.read_csv("AB_NYC_2019.csv")

airbnb_data_df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,10/19/2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,5/21/2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,7/5/2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,11/19/2018,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,6/22/2019,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,10/5/2017,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,6/24/2019,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,7/21/2017,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,6/9/2019,1.33,4,188
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,6/22/2019,0.43,1,6
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,6/23/2019,1.50,1,39
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,6/24/2019,1.34,3,314
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,7/5/2019,0.91,1,333
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,10/31/2018,0.22,1,0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,6/29/2019,1.20,1,46
16,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,6/28/2019,1.72,1,321
17,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,7/1/2019,2.12,1,12
18,7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,6/22/2019,4.44,1,21
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249

Get the NYC data from the API and dataset from Airbnb listing(Kaggle).

In [21]:
room_type_df = airbnb_data_df[['id', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude','room_type', 'price', 'minimum_nights']].copy()
room_type_df.head(20)

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
0,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1
1,2595,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1
2,3647,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3
3,3831,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1
4,5022,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10
5,5099,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3
6,5121,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45
7,5178,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2
8,5203,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2
9,5238,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1
10,5295,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5
11,5441,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2
12,5803,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4
13,6021,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2
14,6090,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90
15,6848,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2
16,7097,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2
17,7322,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1
18,7726,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3
19,7750,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7

In [22]:
private_room_type_df = room_type_df[room_type_df['room_type']=='Private room']
private_room_type_df.head()

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
0,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1
2,3647,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3
6,5121,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45
7,5178,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2
8,5203,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2

In [23]:
house_room_type_df = room_type_df[room_type_df['room_type']=='Entire home/apt']
house_room_type_df.head()

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
1,2595,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1
3,3831,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1
4,5022,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10
5,5099,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3
9,5238,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1

In [25]:
#lat1 = 40.5; lat2 = 42; long1 = -90; long2 = -93
#print( distance((lat1, long1), (lat2, long2)) )

301.17000641409464

In [28]:
#Connect to local database
pg_user = 'postgres'
pg_password = 'Postgres2019'
db_name = 'Airbnb_DB'

In [29]:
connection_string = f"{pg_user}:{pg_password}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [33]:
#Check for tables
engine.table_names()

['city_table', 'city_sites', 'private_room', 'entire_house']

In [31]:
private_room_type_df.to_sql(name='private_room', con=engine, if_exists='append', index=False)

In [32]:
#Use pandas to load csv converted DataFrame into database
house_room_type_df.to_sql(name='entire_house', con=engine, if_exists='append', index=False)

In [37]:
#Confirm data has been added by querying the customer_name table
#NOTE: can also check using pgAdmin
private_room = pd.read_sql_query('select * from private_room', con=engine)
private_room.head()

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
0,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1
1,3647,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3
2,5121,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45
3,5178,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2
4,5203,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2

In [38]:
#Confirm data has been added by querying the customer_location table
entire_house = pd.read_sql_query('select * from entire_house', con=engine)
entire_house.head()

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
0,2595,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1
1,3831,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1
2,5022,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10
3,5099,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3
4,5238,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1

In [58]:
#Confirm data has been added by querying the table
top_10_sites = pd.read_sql_query('select * from city_sites order by rating desc, rating_totals desc limit 10', con=engine)
top_10_sites.head()

,city_id,site_name,rating,rating_totals,address,latitude,longitude
0,NY,Central Park,4.8,194736,"New York, NY",40.782865,-73.965355
1,NY,The Metropolitan Museum of Art,4.8,55401,"1000 5th Ave, New York, NY 10028",40.779437,-73.963244
2,NY,Brooklyn Bridge,4.8,44007,"Brooklyn Bridge, New York, NY 10038",40.706086,-73.996864
3,NY,St. Patrick's Cathedral,4.8,24237,"5th Ave, New York, NY 10022",40.758465,-73.975993
4,NY,Empire State Building,4.7,70859,"20 W 34th St, New York, NY 10001",40.748441,-73.985664

lets get the distance of this from the private room
create a merge between the data frames

In [59]:
private_room['tmp'] = 1
top_10_sites['tmp'] = 1

In [61]:
private_room.head()

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,tmp
0,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1
1,3647,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,1
2,5121,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,1
3,5178,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,1
4,5203,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,1

In [62]:
private_room_top_sites = private_room.merge(top_10_sites, on='tmp')

In [63]:
private_room_top_sites.head()

,id,neighbourhood_group,neighbourhood,latitude_x,longitude_x,room_type,price,minimum_nights,tmp,city_id,site_name,rating,rating_totals,address,latitude_y,longitude_y
0,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,Central Park,4.8,194736,"New York, NY",40.782865,-73.965355
1,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,The Metropolitan Museum of Art,4.8,55401,"1000 5th Ave, New York, NY 10028",40.779437,-73.963244
2,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,Brooklyn Bridge,4.8,44007,"Brooklyn Bridge, New York, NY 10038",40.706086,-73.996864
3,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,St. Patrick's Cathedral,4.8,24237,"5th Ave, New York, NY 10022",40.758465,-73.975993
4,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,Empire State Building,4.7,70859,"20 W 34th St, New York, NY 10001",40.748441,-73.985664

In [64]:
import math

def distance(lat1, lon1, lat2, lon2):
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [65]:
# using apply function to create a new column 
#private_room_top_sites['Distance'] = df.apply(lambda row: row.Cost - 
#                                  (row.Cost * 0.1), axis = 1) 

private_room_top_sites['Distance'] = private_room_top_sites.apply(lambda x: 
                                                                  distance(x['latitude_x'], x['longitude_x'],
                                                                           x['latitude_y'], x['longitude_y']),axis=1)

In [66]:
private_room_top_sites.head()

,id,neighbourhood_group,neighbourhood,latitude_x,longitude_x,room_type,price,minimum_nights,tmp,city_id,site_name,rating,rating_totals,address,latitude_y,longitude_y,Distance
0,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,Central Park,4.8,194736,"New York, NY",40.782865,-73.965355,15.064586
1,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,The Metropolitan Museum of Art,4.8,55401,"1000 5th Ave, New York, NY 10028",40.779437,-73.963244,14.691941
2,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,Brooklyn Bridge,4.8,44007,"Brooklyn Bridge, New York, NY 10038",40.706086,-73.996864,6.835112
3,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,St. Patrick's Cathedral,4.8,24237,"5th Ave, New York, NY 10022",40.758465,-73.975993,12.343668
4,2539,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,1,NY,Empire State Building,4.7,70859,"20 W 34th St, New York, NY 10001",40.748441,-73.985664,11.280995

In [67]:
private_room_top_sites = private_room_top_sites[['id', 'city_id', 'site_name', 'Distance']]

In [68]:
private_room_top_sites.to_sql(name='private_room_top_sites', con=engine, if_exists='append', index=False)

In [ ]:
top_10_sites = pd.read_sql_query('select * from city_sites order by rating desc, rating_totals desc limit 10', con=engine)
top_10_sites.head()