# Airbnb - Elt Project
----

#### Note
* Use Google Maps to locate points of interest
    * DataFrame will be created
    * Data Clean up to be performed
    * Data will be stored in tables of Postgress DB

In [1]:
# Dependencies and Setup

import pandas as pd
import requests
import time
import os
from datetime import date
import json
from pprint import pprint
from sqlalchemy import create_engine

# Import API key
from api_keys import api_key

curdate = date.today().strftime("%m/%d/%Y")

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [2]:
#API Calls
# Save config information and parameters
#url = "https://maps.googleapis.com/maps/api/place/textsearch/json?query=new+york+city+point+of+interest&language=en&key=AIzaSyCZhPzDNVZW7U_8SbGMI2IrXpcK9gIio58"
city_var = "new+york"

params = {
    "query": f"{city_var}+point+of+interest",
    "key": api_key,
    "language": "en"
}

url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

response = requests.get(url, params).json()

### Convert Raw Data to DataFrame

In [3]:
#Review API data
# type(response)
pprint(response)

{'error_message': 'The provided API key is invalid.',
 'html_attributions': [],
 'results': [],
 'status': 'REQUEST_DENIED'}

In [4]:
#create list from response

response_list = [resp for resp in response["results"]]
print(len(response_list))

0

In [5]:
#view on response

response_list[0]

IndexError: list index out of range

In [6]:
#Database about city sites
city_table_df = pd.DataFrame({
                    'city_id':['NY'],
                    'city':['New York']})

city_id = city_table_df.loc[city_table_df["city"] == 'New York', "city_id"]
print(city_id[0])

NY

In [7]:
# set up lists to hold reponse infodata = []
cityid = []
site_name = []
rating = []
rating_totals = []
address = []
latitude = []
longitude = []
count = 1

# Loop through the list of cities and perform a request for data on each
for response in response_list:
    try:
        cityid.append(city_id[0])
        site_name.append(response["name"])
        rating.append(response["rating"])
        rating_totals.append(response["user_ratings_total"])
        address.append(response["formatted_address"])
        latitude.append(response["geometry"]["location"]["lat"])
        longitude.append(response["geometry"]["location"]["lng"])
        count = count + 1
    except KeyError:
        print(f'City Site not found. Skipping... {site_name}')

print('------------------------------')
print(f'Data Retrieval Complete, Count {count}')
print('------------------------------')

------------------------------
Data Retrieval Complete, Count 21
------------------------------

In [9]:
city_data = pd.DataFrame({"city_id": cityid,
                            "site_name": site_name,
                            "rating": rating,
                            "rating_totals": rating_totals,
                            "address": address,
                            "latitude": latitude,
                            "longitude": longitude})
#Save DF as csv

city_data.count()

city_id          20
site_name        20
rating           20
rating_totals    20
address          20
latitude         20
longitude        20
dtype: int64

In [12]:
city_data.head()

,city_id,site_name,rating,rating_totals,address,latitude,longitude
0,NY,Governors Island National Monument,4.6,2675,"10 South St, New York, NY 10004",40.691988,-74.015995
1,NY,General Grant National Memorial,4.5,697,"W 122nd St & Riverside Dr, New York, NY 10027",40.813404,-73.963067
2,NY,Alexander Hamilton Grange National Memorial,4.5,529,"414 W 141st St, New York, NY 10031",40.821354,-73.947310
3,NY,Statue of Liberty National Monument,4.7,66920,"New York, NY 10004",40.689249,-74.044500
4,NY,Grand Central Market,4.5,1060,"89 E 42nd St, New York, NY 10017",40.752594,-73.976728

In [11]:
#Clean Data 
city_data["address"] = city_data["address"].str.replace(", United States", "", case = False)

## Database Section 
     *Create a PostgreSQL database:  airbnb_db
     *Create tables using schema.sql file within PostgreSQL
     *Based on city_data dataframe, and city_table dataframe.

In [13]:
#Connect to local database
pg_user = 'postgres'
pg_password = 'gracem10'
db_name = 'airbnb_db'

connection_string = f"{pg_user}:{pg_password}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [14]:
#Check for tables
engine.table_names()

['city_table', 'city_sites']

In [16]:
#Use pandas to load data frome into database
city_table_df.to_sql(name='city_table', con=engine, if_exists='append', index=False)

In [17]:
#Use pandas to load data frome into database
city_data.to_sql(name='city_sites', con=engine, if_exists='append', index=False)

In [18]:
#Confirm data has been added by querying the table
pd.read_sql_query('select * from city_sites', con=engine).head(25)

,id,city_id,site_name,rating,rating_totals,address,latitude,longitude
0,1,NY,Governors Island National Monument,4.6,2675,"10 South St, New York, NY 10004",40.691988,-74.015995
1,2,NY,General Grant National Memorial,4.5,697,"W 122nd St & Riverside Dr, New York, NY 10027",40.813404,-73.963067
2,3,NY,Alexander Hamilton Grange National Memorial,4.5,529,"414 W 141st St, New York, NY 10031",40.821354,-73.947310
3,4,NY,Statue of Liberty National Monument,4.7,66920,"New York, NY 10004",40.689249,-74.044500
4,5,NY,Grand Central Market,4.5,1060,"89 E 42nd St, New York, NY 10017",40.752594,-73.976728
5,6,NY,SeaGlass Carousel,4.5,497,"Water St &, State St, New York, NY 10004",40.702181,-74.014997
6,7,NY,Central Park,4.8,194571,"New York, NY",40.782865,-73.965355
7,8,NY,Empire State Building,4.7,70860,"20 W 34th St, New York, NY 10001",40.748441,-73.985664
8,9,NY,Brooklyn Bridge,4.8,43973,"Brooklyn Bridge, New York, NY 10038",40.706086,-73.996864
9,10,NY,The High Line,4.7,38797,"New York, NY 10011",40.747993,-74.004765
10,11,NY,St. Patrick's Cathedral,4.8,24222,"5th Ave, New York, NY 10022",40.758465,-73.975993
11,12,NY,Top of the Rock,4.7,34969,"30 Rockefeller Plaza, New York, NY 10112",40.759121,-73.979527
12,13,NY,Rockefeller Center,4.6,115783,"45 Rockefeller Plaza, New York, NY 10111",40.758740,-73.978674
13,14,NY,The Metropolitan Museum of Art,4.8,55252,"1000 5th Ave, New York, NY 10028",40.779437,-73.963244
14,15,NY,"Intrepid Sea, Air & Space Museum",4.6,26027,"Pier 86, W 46th St, New York, NY 10036",40.764527,-73.999608
15,16,NY,One World Observatory,4.7,13670,"285 Fulton St, New York, NY 10006",40.713344,-74.013368
16,17,NY,Radio City Music Hall,4.7,16414,"1260 6th Ave, New York, NY 10020",40.759976,-73.979977
17,18,NY,Bryant Park,4.7,53725,"New York, NY 10018",40.753597,-73.983233
18,19,NY,The Met Cloisters,4.7,4276,"99 Margaret Corbin Dr, New York, NY 10040",40.864863,-73.931727
19,20,NY,Washington Square Park,4.7,17675,"New York, NY 10012",40.730823,-73.997332

In [19]:
pd.read_sql_query('select * from city_table', con=engine).head(25)

  city_id      city
0      NY  New York