# New York Living Local
----

#### Note
* We will be using Google Maps to locate points of interest with New York City
    * DataFrame will be created
    * Data Clean up to be performed
    * Data will be stored in tables of Postgress DB

In [86]:
# Dependencies and Setup

import pandas as pd
import requests
import time
import os
from datetime import date
import json
from pprint import pprint
from sqlalchemy import create_engine
from Config import api_key

curdate = date.today().strftime("%m/%d/%Y")
import numpy as np
import gmaps
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import desc

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [87]:
#API Calls
# Save config information and parameters
#url = "https://maps.googleapis.com/maps/api/place/textsearch/json?query=new+york+city+point+of+interest&language=en&key=AIzaSyCZhPzDNVZW7U_8SbGMI2IrXpcK9gIio58"
city_var = "new+york"

params = {
    "query": f"{city_var}+point+of+interest",
    "key": api_key,
    "language": "en"
}

url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

response = requests.get(url, params).json()

### Convert Raw Data to DataFrame

In [88]:
#Review API data
# type(response)
pprint(response)

{'html_attributions': [],
 'next_page_token': 'CpQCBgEAAKcJZ_ZZ_n2fanBcMgfQMQeq1VrGzjVmFoZ1MLNagpSTqW85aYE4LAPgo2ZxgNSAw9613L0Y9pqP8ciVsFhVH7c6BWE5dDzgIgXkPJEetUANo5SpGo6bb6n9OBRvkOuU_4_OJu8GNXq9Wt3rhTA7cuu9UgK2ISa2TLfNqTdVJ7d-3xfWrg3BnvyiwyBrvmA9ai5i1bE0tWFq67B4vSznDqglyPDHD4csPVPjItlFX62X0vC6ItiHXTEHIBGSTapvoNUSjLn6S8qFp5DX80u577DCWuqgxO88stqqCl0RkV0IKW5GDHCR2Ev_wV6uhnWXWq6n0GFcc-uvPHG_j3vKpurbtX-BiTxQgVMiQKj0rVThEhDH69QeDuXjupd6CzuP__JAGhTq4WkQyEqocPbjWRjYPXY-3uVNcg',
 'results': [{'formatted_address': '10 South St, New York, NY 10004, United '
                                   'States',
              'geometry': {'location': {'lat': 40.6919879,
                                        'lng': -74.01599499999999},
                           'viewport': {'northeast': {'lat': 40.69333772989273,
                                                      'lng': -74.01464517010727},
                                        'southwest': {'lat': 40.69063807010728,
                                                      'lng': -74.0173448298927}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/museum-71.png',
              'id': 'e2568410beb651c76959c8c706e1d771fc316fa9',
              'name': 'Governors Island National Monument',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 4897,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/106490258821111884682">Mark '
                                                'Furmanik</a>'],
                          'photo_reference': 'CmRaAAAAVSdWWjSIDKMrHZ0KukG9lqp8_RrCH9GNAky2X5wJXXUX0AQ7Y5sWEfAHgp63uD09LF58S5u3-IdgiQs9ZT2RsKudwWxbjrm-jdGkOC-7EOL_qNgFgx1ZSq3lpXA4fOQ7EhDiqlSibrVfcrUOtzGtyY1LGhSttk5UPi3WhN2sMCp2m7SWoa8LRg',
                          'width': 3266}],
              'place_id': 'ChIJ2_ey6W9awokRxng4fzLDbPo',
              'plus_code': {'compound_code': 'MXRM+QJ New York',
                            'global_code': '87G7MXRM+QJ'},
              'rating': 4.6,
              'reference': 'ChIJ2_ey6W9awokRxng4fzLDbPo',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 2675},
             {'formatted_address': 'W 122nd St & Riverside Dr, New York, NY '
                                   '10027, United States',
              'geometry': {'location': {'lat': 40.8134045, 'lng': -73.9630671},
                           'viewport': {'northeast': {'lat': 40.81479342989272,
                                                      'lng': -73.96171487010727},
                                        'southwest': {'lat': 40.81209377010728,
                                                      'lng': -73.96441452989272}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png',
              'id': '733dc3338625663c853d87af545babc054c43006',
              'name': 'General Grant National Memorial',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 4000,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/109490048016942159532">Roel '
                                                'Schreurs</a>'],
                          'photo_reference': 'CmRaAAAA5dh2L0d0rZB7J_cU1FBO8H0U0s2UBlbQfgdjM4WNfhtggFZi-t1S2RRZi8mRIw-an4vIxKF7WIMtjub87-DjT9c4aqPcINKG4SG8lZzwhdmrbLlZ3HTDjMvnbznk4lr3EhBReLe41JYCKL5lrsbG0Th_GhS9TxsyTEZf1AyvosIFwbzBbbaoAQ',
                          'width': 6016}],
              'place_id': 'ChIJoxqn-kD2wokRLvhOLfAneU8',
              'plus_code': {'compound_code': 'R27P+9Q New York',
                            'global_code': '87G8R27P+9Q'},
              'rating': 4.5,
              'reference': 'ChIJoxqn-kD2wokRLvhOLfAneU8',
              'types': ['tourist_attraction',
                        'park',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 697},
             {'formatted_address': '414 W 141st St, New York, NY 10031, United '
                                   'States',
              'geometry': {'location': {'lat': 40.8213537, 'lng': -73.9473103},
                           'viewport': {'northeast': {'lat': 40.82289047989271,
                                                      'lng': -73.94589007010728},
                                        'southwest': {'lat': 40.82019082010727,
                                                      'lng': -73.94858972989272}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': '7fdf8be4d494f647a65700f36b00fa077e4f68d3',
              'name': 'Alexander Hamilton Grange National Memorial',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 3024,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/113244420116672845924">Tim '
                                                'Sneath</a>'],
                          'photo_reference': 'CmRaAAAA3BugJiOGMyGjCxYiQFdYh4J1LSsQKeCyebPabp7mcrnjCUBud5psr3jomgENpg3fBHrzCFJCIs-6SK-xPKc35lGCb-aVYh4vFnE1obt8-bRoxF9tQH4HYcVLrJDsAV73EhB8TQwBPGgqDCaWk089UUHvGhSRwk2RN3AGmJYZmb2XmZBQvS8FdQ',
                          'width': 4032}],
              'place_id': 'ChIJ5wFJxXr2wokRQEmdWil_bEw',
              'plus_code': {'compound_code': 'R3C3+G3 New York',
                            'global_code': '87G8R3C3+G3'},
              'rating': 4.5,
              'reference': 'ChIJ5wFJxXr2wokRQEmdWil_bEw',
              'types': ['tourist_attraction',
                        'museum',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 529},
             {'formatted_address': 'New York, NY 10004, United States',
              'geometry': {'location': {'lat': 40.6892494,
                                        'lng': -74.04450039999999},
                           'viewport': {'northeast': {'lat': 40.71814749999999,
                                                      'lng': -73.99872490000001},
                                        'southwest': {'lat': 40.6796167,
                                                      'lng': -74.05975889999998}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': '5a0d7e67078e35af0c456a277df9ffba7c1e4da6',
              'name': 'Statue of Liberty National Monument',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 4032,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/104615317245344911843">Brett '
                                                'Pyle</a>'],
                          'photo_reference': 'CmRaAAAA4ig-fOxYD07q_emOuAV7KjbQcVl2eiw7VatPLOgGi6uiucvXWSIbaNRA_yQX64ZpnpKLcHizprDKPtGxr_vSmgTcNEsMro6V7H_h_u5cxLwvGSDLmkAP3p5A_RO9qY_YEhA26caA0CZGPnzgS1S-1uaGGhTf1mmX3xqTHcqfm1X3AmuOzn-nzg',
                          'width': 3024}],
              'place_id': 'ChIJPTacEpBQwokRKwIlDXelxkA',
              'plus_code': {'compound_code': 'MXQ4+M5 New York',
                            'global_code': '87G7MXQ4+M5'},
              'rating': 4.7,
              'reference': 'ChIJPTacEpBQwokRKwIlDXelxkA',
              'types': ['tourist_attraction',
                        'park',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 66994},
             {'formatted_address': '89 E 42nd St, New York, NY 10017, United '
                                   'States',
              'geometry': {'location': {'lat': 40.7525935, 'lng': -73.9767279},
                           'viewport': {'northeast': {'lat': 40.75371032989272,
                                                      'lng': -73.97479917010729},
                                        'southwest': {'lat': 40.75101067010728,
                                                      'lng': -73.97749882989272}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
              'id': '096265fefe8d7d8c6f99699e4409d5aa84b17116',
              'name': 'Grand Central Market',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 3006,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/115125443427453367948">Richard '
                                                'Fife</a>'],
                          'photo_reference': 'CmRaAAAAM1KRCM0vJvBIzJN1BDYsdyR_kOoaZGkfuoH0tMPyx9dMyME1G08sCglYUpiB4sXhA-OeFLd5Rix0m7Gyq2JCs0u7XLreZjIpro7-T3m3NNp1GQeR5etYYIJp3cs8yc6JEhCc7BP3MMsZn8PKQvAXumJuGhQeyac2KQPoxQDgtp34dfVBsJYc5Q',
                          'width': 5344}],
              'place_id': 'ChIJj9zIOgJZwokRuuxV79u6_nU',
              'plus_code': {'compound_code': 'Q23F+28 New York',
                            'global_code': '87G8Q23F+28'},
              'rating': 4.5,
              'reference': 'ChIJj9zIOgJZwokRuuxV79u6_nU',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 1060},
             {'formatted_address': 'Water St &, State St, New York, NY 10004, '
                                   'United States',
              'geometry': {'location': {'lat': 40.70218089999999,
                                        'lng': -74.01499749999999},
                           'viewport': {'northeast': {'lat': 40.70350567989272,
                                                      'lng': -74.01319335},
                                        'southwest': {'lat': 40.70080602010728,
                                                      'lng': -74.01593035}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': '2fad60c4a269d0c16dd2836b031c4c5161628550',
              'name': 'SeaGlass Carousel',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 4000,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/103629638615749277925">Hugo '
                                                'Cruz</a>'],
                          'photo_reference': 'CmRaAAAAJSbKHplxVbesn2ohWrr_zHgHvhGVcHkGhYPDdEuP044pLamMailxF_aqhG2954eU4ALiwr_yhaJAiiRuFOUphLj_lXH2_Tnr6d5FwE-hMRqLtMXv_j32ySvsVYGVLTzvEhBtp6GyFDmJ2Pt_RXncmE8dGhQBVh1LhtB_DrZF5uz0EAQrIwaU5A',
                          'width': 6000}],
              'place_id': 'ChIJryEQYRJawokR_bfRRa_lPqs',
              'plus_code': {'compound_code': 'PX2P+V2 New York',
                            'global_code': '87G7PX2P+V2'},
              'rating': 4.5,
              'reference': 'ChIJryEQYRJawokR_bfRRa_lPqs',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 497},
             {'formatted_address': 'New York, NY, United States',
              'geometry': {'location': {'lat': 40.7828647, 'lng': -73.9653551},
                           'viewport': {'northeast': {'lat': 40.81804399999999,
                                                      'lng': -73.9339825},
                                        'southwest': {'lat': 40.7473416,
                                                      'lng': -73.9970305}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png',
              'id': 'c9bcef33f0cc85eda31f1c7444e9b1a3b82c9a9f',
              'name': 'Central Park',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 2448,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/104674184720700703454">Gustavo '
                                                'Brenes</a>'],
                          'photo_reference': 'CmRaAAAAN55Ba4vQzcLHQAGYdMiVaZVNt9Xesmi44UQBwtJRSgnZ55erhckwBTEnNM4jSkXZyp24u5BT7PsDKE858xLYtmSWM390j2Aq016RupxAbWtm0HkBg9go8b3MfvvR-FR2EhBdUZQb_OTgt0bM4Hs2p0mvGhRJ4jjL1lXxbDazRtRqq3Kt-BCT1A',
                          'width': 3264}],
              'place_id': 'ChIJ4zGFAZpYwokRGUGph3Mf37k',
              'plus_code': {'compound_code': 'Q2MM+4V New York',
                            'global_code': '87G8Q2MM+4V'},
              'rating': 4.8,
              'reference': 'ChIJ4zGFAZpYwokRGUGph3Mf37k',
              'types': ['park',
                        'tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 194855},
             {'formatted_address': '20 W 34th St, New York, NY 10001, United '
                                   'States',
              'geometry': {'location': {'lat': 40.7484405,
                                        'lng': -73.98566439999999},
                           'viewport': {'northeast': {'lat': 40.74971142989272,
                                                      'lng': -73.98392452010728},
                                        'southwest': {'lat': 40.74701177010728,
                                                      'lng': -73.98662417989271}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': 'bc232d2422e7068b2a2ffb314f02e3733dd47796',
              'name': 'Empire State Building',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 720,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/117951087160583633334">Empire '
                                                'State Building</a>'],
                          'photo_reference': 'CmRaAAAAHVYgB5eSlU-6mQiLR2mokfVcxdWX7t2za79yFY_eB7Yhx4CBwh-60B7A0OlkeVG2AceXSPahMcNTH19KtJUl84bHnbF8Ay-_eLb2pz75CcMkVfGBnSp8BX5kLbqGUuUSEhDwaGl5O_nypI25FmGirLJpGhR2oiExyRWoE2W9HZO2DpJ2MSjXKQ',
                          'width': 1280}],
              'place_id': 'ChIJaXQRs6lZwokRY6EFpJnhNNE',
              'plus_code': {'compound_code': 'P2X7+9P New York',
                            'global_code': '87G8P2X7+9P'},
              'rating': 4.7,
              'reference': 'ChIJaXQRs6lZwokRY6EFpJnhNNE',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 70865},
             {'formatted_address': 'Brooklyn Bridge, New York, NY 10038, '
                                   'United States',
              'geometry': {'location': {'lat': 40.7060855, 'lng': -73.9968643},
                           'viewport': {'northeast': {'lat': 40.7192285,
                                                      'lng': -73.9812363},
                                        'southwest': {'lat': 40.6886497,
                                                      'lng': -74.0112811}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
              'id': 'c1ac50eff9bb8e9505c59c69c4523ae94c4126fc',
              'name': 'Brooklyn Bridge',
              'photos': [{'height': 2618,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/108804069346240761751">Marijn '
                                                'van der Woude</a>'],
                          'photo_reference': 'CmRaAAAA4lYNH_KWdhmo9_NNhIXJpX2cV-9n6B-3WoCrTvaoCGkFZTJfnQamuHNusQECRgze726AJYTKOSFVLvrPlY7rEGVX2lVZJ1pKngMQEXLcOt5Du1QSXkKiINnHWkOgzZI7EhAtF_0TR9ma4_ClkL2ZeoSzGhS3tnp4cbZ1MuA92mXHnCcvsfC-ng',
                          'width': 4656}],
              'place_id': 'ChIJK3vOQyNawokRXEa9errdJiU',
              'plus_code': {'compound_code': 'P243+C7 New York',
                            'global_code': '87G8P243+C7'},
              'rating': 4.8,
              'reference': 'ChIJK3vOQyNawokRXEa9errdJiU',
              'types': ['tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 44016},
             {'formatted_address': 'New York, NY 10011, United States',
              'geometry': {'location': {'lat': 40.7479925, 'lng': -74.0047649},
                           'viewport': {'northeast': {'lat': 40.75890824999998,
                                                      'lng': -73.99853175},
                                        'southwest': {'lat': 40.73287364999999,
                                                      'lng': -74.01141114999999}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png',
              'id': '72dc79d023feec77725d7336e7c46fee27805319',
              'name': 'The High Line',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 3267,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/105487997458497097901">Александр '
                                                'Иванов</a>'],
                          'photo_reference': 'CmRaAAAAIqRcmIpOWU5fgIrQaXEa39N0uYojLxY0Ox_PBWw25hh71nsbggkUMT7GvrPsa2Q7FH3pNJVNJkpvsxi7fXavGEjDi9azBU8FcLejOaMF4JKAk2fn45m4klWGxxY5xqqOEhBFH_MAvSFFY7ev6gPa-mvZGhRN_X-XEJEYilm9JlRqO6h6xJbiiw',
                          'width': 4895}],
              'place_id': 'ChIJ5bQPhMdZwokRkTwKhVxhP1g',
              'plus_code': {'compound_code': 'PXXW+53 New York',
                            'global_code': '87G7PXXW+53'},
              'rating': 4.7,
              'reference': 'ChIJ5bQPhMdZwokRkTwKhVxhP1g',
              'types': ['park',
                        'tourist_attraction',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 38865},
             {'formatted_address': '5th Ave, New York, NY 10022, United States',
              'geometry': {'location': {'lat': 40.7584653,
                                        'lng': -73.97599269999999},
                           'viewport': {'northeast': {'lat': 40.75987907989272,
                                                      'lng': -73.97453474999999},
                                        'southwest': {'lat': 40.75717942010727,
                                                      'lng': -73.97777375}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/worship_general-71.png',
              'id': 'acf24f96362bdabb64807f6c17cba8bb1d5b738a',
              'name': "St. Patrick's Cathedral",
              'opening_hours': {'open_now': True},
              'photos': [{'height': 4032,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/103645577548184875978">Sahar '
                                                'Sadjedi</a>'],
                          'photo_reference': 'CmRaAAAA1vqJipXowPmZ4QbTRwU08b6tFuTVmNp3YMwEzuKE5FkDYED4ceB8HGlCoyYB2p8Ducm-5qcHytjC2-Q77-UrgmzOHMZ8c62C49UdH_3Uo9F6xhw9gV4E9mqAqLtZZVO2EhAJJMuitTZF8k-rtS8q-V8CGhSnZXI7Ajp0TFTF6VTzuc6JVWcXQg',
                          'width': 3024}],

In [89]:
#create list from response

response_list = [resp for resp in response["results"]]
print(len(response_list))

20

In [90]:
#view on response

response_list[0]

{'formatted_address': '10 South St, New York, NY 10004, United States',
 'geometry': {'location': {'lat': 40.6919879, 'lng': -74.01599499999999},
  'viewport': {'northeast': {'lat': 40.69333772989273,
    'lng': -74.01464517010727},
   'southwest': {'lat': 40.69063807010728, 'lng': -74.0173448298927}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/museum-71.png',
 'id': 'e2568410beb651c76959c8c706e1d771fc316fa9',
 'name': 'Governors Island National Monument',
 'opening_hours': {'open_now': True},
 'photos': [{'height': 4897,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106490258821111884682">Mark Furmanik</a>'],
   'photo_reference': 'CmRaAAAAVSdWWjSIDKMrHZ0KukG9lqp8_RrCH9GNAky2X5wJXXUX0AQ7Y5sWEfAHgp63uD09LF58S5u3-IdgiQs9ZT2RsKudwWxbjrm-jdGkOC-7EOL_qNgFgx1ZSq3lpXA4fOQ7EhDiqlSibrVfcrUOtzGtyY1LGhSttk5UPi3WhN2sMCp2m7SWoa8LRg',
   'width': 3266}],
 'place_id': 'ChIJ2_ey6W9awokRxng4fzLDbPo',
 'plus_code': {'compound_code': 'MXRM+QJ New York',
  'global_code': '87G7MXRM+QJ'},
 'rating': 4.6,
 'reference': 'ChIJ2_ey6W9awokRxng4fzLDbPo',
 'types': ['tourist_attraction', 'point_of_interest', 'establishment'],
 'user_ratings_total': 2675}

In [91]:
#Database about city sites
city_table_df = pd.DataFrame({
                    'city_id':['NY'],
                    'city':['New York']})

city_id = city_table_df.loc[city_table_df["city"] == 'New York', "city_id"]
print(city_id[0])

NY

In [92]:
# set up lists to hold reponse infodata = []
cityid = []
site_name = []
rating = []
rating_totals = []
address = []
latitude = []
longitude = []
count = 1

# Loop through the list of cities and perform a request for data on each
for response in response_list:
    try:
        cityid.append(city_id[0])
        site_name.append(response["name"])
        rating.append(response["rating"])
        rating_totals.append(response["user_ratings_total"])
        address.append(response["formatted_address"])
        latitude.append(response["geometry"]["location"]["lat"])
        longitude.append(response["geometry"]["location"]["lng"])
        count = count + 1
    except KeyError:
        print(f'City Site not found. Skipping... {site_name}')

print('------------------------------')
print(f'Data Retrieval Complete, Count {count}')
print('------------------------------')

------------------------------
Data Retrieval Complete, Count 21
------------------------------

In [93]:
city_data = pd.DataFrame({"city_id": cityid,
                            "site_name": site_name,
                            "rating": rating,
                            "rating_totals": rating_totals,
                            "address": address,
                            "latitude": latitude,
                            "longitude": longitude})
#Save DF as csv

city_data.count()

city_id          20
site_name        20
rating           20
rating_totals    20
address          20
latitude         20
longitude        20
dtype: int64

In [94]:
city_data.head()

,city_id,site_name,rating,rating_totals,address,latitude,longitude
0,NY,Governors Island National Monument,4.6,2675,"10 South St, New York, NY 10004, United States",40.691988,-74.015995
1,NY,General Grant National Memorial,4.5,697,"W 122nd St & Riverside Dr, New York, NY 10027,...",40.813404,-73.963067
2,NY,Alexander Hamilton Grange National Memorial,4.5,529,"414 W 141st St, New York, NY 10031, United States",40.821354,-73.947310
3,NY,Statue of Liberty National Monument,4.7,66994,"New York, NY 10004, United States",40.689249,-74.044500
4,NY,Grand Central Market,4.5,1060,"89 E 42nd St, New York, NY 10017, United States",40.752594,-73.976728

In [95]:
#Clean Data 
city_data["address"] = city_data["address"].str.replace(", United States", "", case = False)

## Database Section 
     *Create a PostgreSQL database:  airbnb_db
     *Create tables using schema.sql file within PostgreSQL
     *Based on city_data dataframe, and city_table dataframe.

In [96]:
#Connect to local database
pg_user = 'postgres'
pg_password = 'Postgres2019'
db_name = 'Airbnb_DB'

connection_string = f"{pg_user}:{pg_password}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [97]:
#Check for tables
engine.table_names()

['city_sites',
 'city_table',
 'entire_house',
 'private_room_top_sites',
 'private_room']

In [98]:
engine.execute( '''TRUNCATE TABLE city_table''' )

In [99]:
engine.execute( '''TRUNCATE TABLE city_sites''' )

In [100]:
engine.execute( '''TRUNCATE TABLE private_room''' )

In [101]:
engine.execute( '''TRUNCATE TABLE entire_house''' )

In [102]:
engine.execute( '''TRUNCATE TABLE private_room_top_sites''' )

In [103]:
#Use pandas to load data frome into database
city_table_df.to_sql(name='city_table', con=engine, if_exists='append', index=False)

In [104]:
#Use pandas to load data frome into database
city_data.to_sql(name='city_sites', con=engine, if_exists='append', index=False)

In [105]:
#Confirm data has been added by querying the table
pd.read_sql_query('select * from city_sites', con=engine).head()

,city_id,site_name,rating,rating_totals,address,latitude,longitude
0,NY,Governors Island National Monument,4.6,2675,"10 South St, New York, NY 10004",40.691988,-74.015995
1,NY,General Grant National Memorial,4.5,697,"W 122nd St & Riverside Dr, New York, NY 10027",40.813404,-73.963067
2,NY,Alexander Hamilton Grange National Memorial,4.5,529,"414 W 141st St, New York, NY 10031",40.821354,-73.947310
3,NY,Statue of Liberty National Monument,4.7,66994,"New York, NY 10004",40.689249,-74.044500
4,NY,Grand Central Market,4.5,1060,"89 E 42nd St, New York, NY 10017",40.752594,-73.976728

In [106]:
pd.read_sql_query('select * from city_table', con=engine).head()

  city_id      city
0      NY  New York

In [107]:
# Pull latest data available as of 2019
airbnb_data_df = pd.read_csv("AB_NYC_2019.csv")

airbnb_data_df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,10/19/2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,5/21/2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,7/5/2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,11/19/2018,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,6/22/2019,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,10/5/2017,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,6/24/2019,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,7/21/2017,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,6/9/2019,1.33,4,188

Get the NYC data from the API and dataset from Airbnb listing(Kaggle).

In [133]:
room_type_df = airbnb_data_df[['id', 'name','neighbourhood_group', 'neighbourhood', 'latitude', 'longitude','room_type', 'price', 'minimum_nights']].copy()
room_type_df.head(20)

,id,name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
0,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1
1,2595,Skylit Midtown Castle,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3
3,3831,Cozy Entire Floor of Brownstone,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1
4,5022,Entire Apt: Spacious Studio/Loft by central park,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10
5,5099,Large Cozy 1 BR Apartment In Midtown East,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3
6,5121,BlissArtsSpace!,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45
7,5178,Large Furnished Room Near B'way,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2
8,5203,Cozy Clean Guest Room - Family Apt,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2
9,5238,Cute & Cozy Lower East Side 1 bdrm,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1
10,5295,Beautiful 1br on Upper West Side,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5
11,5441,Central Manhattan/near Broadway,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2
14,6090,West Village Nest - Superhost,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90
15,6848,Only 2 stops to Manhattan studio,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2
16,7097,Perfect for Your Parents + Garden,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2
17,7322,Chelsea Perfect,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1
18,7726,Hip Historic Brownstone Apartment with Backyard,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3
19,7750,Huge 2 BR Upper East Cental Park,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7

In [134]:
private_room_type_df = room_type_df[room_type_df['room_type']=='Private room']
private_room_type_df.head()

,id,name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
0,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3
6,5121,BlissArtsSpace!,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45
7,5178,Large Furnished Room Near B'way,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2
8,5203,Cozy Clean Guest Room - Family Apt,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2

In [135]:
house_room_type_df = room_type_df[room_type_df['room_type']=='Entire home/apt']
house_room_type_df.head()

,id,name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
1,2595,Skylit Midtown Castle,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1
3,3831,Cozy Entire Floor of Brownstone,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1
4,5022,Entire Apt: Spacious Studio/Loft by central park,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10
5,5099,Large Cozy 1 BR Apartment In Midtown East,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3
9,5238,Cute & Cozy Lower East Side 1 bdrm,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1

In [137]:
private_room_type_df.to_sql(name='private_room', con=engine, if_exists='append', index=False)

In [138]:
#Use pandas to load csv converted DataFrame into database
house_room_type_df.to_sql(name='entire_house', con=engine, if_exists='append', index=False)

In [139]:
#Confirm data has been added by querying the table
#NOTE: can also check using pgAdmin
private_room = pd.read_sql_query('select * from private_room', con=engine)
private_room.head()

,id,name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
0,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3
2,5121,BlissArtsSpace!,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45
3,5178,Large Furnished Room Near B'way,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2
4,5203,Cozy Clean Guest Room - Family Apt,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2

In [142]:
#Confirm data has been added by querying  table
entire_house = pd.read_sql_query('select * from entire_house', con=engine)
entire_house.head()

,id,name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
0,2595,Skylit Midtown Castle,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1
1,3831,Cozy Entire Floor of Brownstone,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1
2,5022,Entire Apt: Spacious Studio/Loft by central park,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10
3,5099,Large Cozy 1 BR Apartment In Midtown East,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3
4,5238,Cute & Cozy Lower East Side 1 bdrm,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1

In [143]:
#Confirm data has been added by querying the table
top_10_sites = pd.read_sql_query('select * from city_sites order by rating desc, rating_totals desc limit 10', con=engine)
top_10_sites.head()

,city_id,site_name,rating,rating_totals,address,latitude,longitude
0,NY,Central Park,4.8,194855,"New York, NY",40.782865,-73.965355
1,NY,The Metropolitan Museum of Art,4.8,55268,"1000 5th Ave, New York, NY 10028",40.779437,-73.963244
2,NY,Brooklyn Bridge,4.8,44016,"Brooklyn Bridge, New York, NY 10038",40.706086,-73.996864
3,NY,St. Patrick's Cathedral,4.8,24251,"5th Ave, New York, NY 10022",40.758465,-73.975993
4,NY,Empire State Building,4.7,70865,"20 W 34th St, New York, NY 10001",40.748441,-73.985664

lets get the distance of this from the private room
create a merge between the data frames

In [144]:
private_room['city_id'] = 'NY'
#top_10_sites['city_id'] = 'NY'

In [145]:
private_room.head()

,id,name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,city_id
0,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,NY
2,5121,BlissArtsSpace!,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,NY
3,5178,Large Furnished Room Near B'way,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,NY
4,5203,Cozy Clean Guest Room - Family Apt,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,NY

In [146]:
private_room_top_sites = private_room.merge(top_10_sites, on='city_id')

In [147]:
private_room_top_sites.head(11)

,id,name,neighbourhood_group,neighbourhood,latitude_x,longitude_x,room_type,price,minimum_nights,city_id,site_name,rating,rating_totals,address,latitude_y,longitude_y
0,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Central Park,4.8,194855,"New York, NY",40.782865,-73.965355
1,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,The Metropolitan Museum of Art,4.8,55268,"1000 5th Ave, New York, NY 10028",40.779437,-73.963244
2,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Brooklyn Bridge,4.8,44016,"Brooklyn Bridge, New York, NY 10038",40.706086,-73.996864
3,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,St. Patrick's Cathedral,4.8,24251,"5th Ave, New York, NY 10022",40.758465,-73.975993
4,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Empire State Building,4.7,70865,"20 W 34th St, New York, NY 10001",40.748441,-73.985664
5,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Statue of Liberty National Monument,4.7,66994,"New York, NY 10004",40.689249,-74.044500
6,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Bryant Park,4.7,53756,"New York, NY 10018",40.753597,-73.983233
7,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,The High Line,4.7,38865,"New York, NY 10011",40.747993,-74.004765
8,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Top of the Rock,4.7,35008,"30 Rockefeller Plaza, New York, NY 10112",40.759121,-73.979527
9,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Washington Square Park,4.7,17688,"New York, NY 10012",40.730823,-73.997332
10,3647,THE VILLAGE OF HARLEM....NEW YORK !,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,NY,Central Park,4.8,194855,"New York, NY",40.782865,-73.965355

In [148]:
import math

def distance(lat1, lon1, lat2, lon2):
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [149]:
# using apply function to create a new column 

private_room_top_sites['Distance'] = private_room_top_sites.apply(lambda x: 
                                                                  distance(x['latitude_x'], x['longitude_x'],
                                                                           x['latitude_y'], x['longitude_y']),axis=1)

In [150]:
private_room_top_sites.head()

,id,name,neighbourhood_group,neighbourhood,latitude_x,longitude_x,room_type,price,minimum_nights,city_id,site_name,rating,rating_totals,address,latitude_y,longitude_y,Distance
0,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Central Park,4.8,194855,"New York, NY",40.782865,-73.965355,15.064586
1,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,The Metropolitan Museum of Art,4.8,55268,"1000 5th Ave, New York, NY 10028",40.779437,-73.963244,14.691941
2,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Brooklyn Bridge,4.8,44016,"Brooklyn Bridge, New York, NY 10038",40.706086,-73.996864,6.835112
3,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,St. Patrick's Cathedral,4.8,24251,"5th Ave, New York, NY 10022",40.758465,-73.975993,12.343668
4,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,NY,Empire State Building,4.7,70865,"20 W 34th St, New York, NY 10001",40.748441,-73.985664,11.280995

In [154]:
private_room_top_sites=  private_room_top_sites[['id', 'city_id', 'site_name', 'Distance']]
private_room_top_sites.head(25)

      id city_id                            site_name   Distance
0   2539      NY                         Central Park  15.064586
1   2539      NY       The Metropolitan Museum of Art  14.691941
2   2539      NY                      Brooklyn Bridge   6.835112
3   2539      NY              St. Patrick's Cathedral  12.343668
4   2539      NY                Empire State Building  11.280995
5   2539      NY  Statue of Liberty National Monument   7.653156
6   2539      NY                          Bryant Park  11.833987
7   2539      NY                        The High Line  11.504227
8   2539      NY                      Top of the Rock  12.427397
9   2539      NY               Washington Square Park   9.502197
10  3647      NY                         Central Park   3.515224
11  3647      NY       The Metropolitan Museum of Art   3.748245
12  3647      NY                      Brooklyn Bridge  12.346605
13  3647      NY              St. Patrick's Cathedral   6.311874
14  3647      NY                Empire State Building   7.678199
15  3647      NY  Statue of Liberty National Monument  15.876576
16  3647      NY                          Bryant Park   7.077529
17  3647      NY                        The High Line   8.606286
18  3647      NY                      Top of the Rock   6.389253
19  3647      NY               Washington Square Park   9.868940
20  5121      NY                         Central Park  10.702327
21  5121      NY       The Metropolitan Museum of Art  10.310108
22  5121      NY                      Brooklyn Bridge   4.056150
23  5121      NY              St. Patrick's Cathedral   8.136975
24  5121      NY                Empire State Building   7.288633

In [155]:
private_room_top_sites.to_sql(name='private_room_top_sites', con=engine, if_exists='append', index=False)

In [156]:
top_10_sites = pd.read_sql_query('select * from city_sites order by rating desc, rating_totals desc limit 10', con=engine)
top_10_sites.head(25)

,city_id,site_name,rating,rating_totals,address,latitude,longitude
0,NY,Central Park,4.8,194855,"New York, NY",40.782865,-73.965355
1,NY,The Metropolitan Museum of Art,4.8,55268,"1000 5th Ave, New York, NY 10028",40.779437,-73.963244
2,NY,Brooklyn Bridge,4.8,44016,"Brooklyn Bridge, New York, NY 10038",40.706086,-73.996864
3,NY,St. Patrick's Cathedral,4.8,24251,"5th Ave, New York, NY 10022",40.758465,-73.975993
4,NY,Empire State Building,4.7,70865,"20 W 34th St, New York, NY 10001",40.748441,-73.985664
5,NY,Statue of Liberty National Monument,4.7,66994,"New York, NY 10004",40.689249,-74.044500
6,NY,Bryant Park,4.7,53756,"New York, NY 10018",40.753597,-73.983233
7,NY,The High Line,4.7,38865,"New York, NY 10011",40.747993,-74.004765
8,NY,Top of the Rock,4.7,35008,"30 Rockefeller Plaza, New York, NY 10112",40.759121,-73.979527
9,NY,Washington Square Park,4.7,17688,"New York, NY 10012",40.730823,-73.997332

## Database queries:

In [176]:
site_list =  pd.read_sql_query('select ct.city,cs.site_name,cs.rating,cs.rating_totals,cs.address from city_sites cs join city_table ct on ct.city_id = cs.city_id' , con=engine)
site_list.head()

,city,site_name,rating,rating_totals,address
0,New York,Governors Island National Monument,4.6,2675,"10 South St, New York, NY 10004"
1,New York,General Grant National Memorial,4.5,697,"W 122nd St & Riverside Dr, New York, NY 10027"
2,New York,Alexander Hamilton Grange National Memorial,4.5,529,"414 W 141st St, New York, NY 10031"
3,New York,Statue of Liberty National Monument,4.7,66994,"New York, NY 10004"
4,New York,Grand Central Market,4.5,1060,"89 E 42nd St, New York, NY 10017"

In [ ]:
dis_sites = pd.read_sql_query('select s.site_name, s."Distance", p.name as rental_name, p.neighbourhood_group, p.neighbourhood, p.price, p.room_type from private_room_top_sites s inner join private_room p on s.id = p.id where s.site_name = 'Central Park' and s."Distance" < 1', con=engine)
dis_sites.head()

select s.site_name, s."Distance", p.name as rental_name,
p.neighbourhood_group, p.neighbourhood, p.price, p.room_type 
from private_room_top_sites s inner join private_room p on s.id = p.id
where s.site_name = 'Central Park' and s."Distance" < 1


# site_v = 'Central Park'
# distance_v = '1'

# pd.read_sql_query('select s.site_name, s."Distance", p.name as rental_name, p.neighbourhood_group, p.neighbourhood, p.price, p.room_type from private_room_top_sites s inner join private_room p on s.id = p.id where s.site_name = '
#                    + site_v  +
#                   ' and s."Distance" < '
#                    + distance_v + 
                  '', con=engine)
# dis_sites.head()

In [ ]:

select * from 
public.private_room inner join 
public.private_room_top_sites

select s.*, p.* 
from private_room_top_sites s inner join private_room p on s.id = p.id
where s.site_name = 'Central Park' and s."Distance" < 1

select s.*, p.* 
from private_room_top_sites s inner join private_room p on s.id = p.id
where s.site_name = 'Central Park' and s."Distance" < 1